<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap Site</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../css/about.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>



   <!--Navbar Section-->
   <nav class="navbar">
    <div class="navbar__container">
        <a href="/" id="navbar__logo"><i class="fa fa-fw fa-cutlery"></i>KC's Catering &nbsp;(773) 490-2666</a>
        <div class="navbar__toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="navbar__menu">
            <li class="navbar__item">
                <a href="/" class="navbar__links"><i class="fa fa-fw fa-home"></i>HOME</a>   
            </li>
            <li class="navbar__item">
                <a href="/components/about.html" class="navbar__links"><i class="fa fa-fw fa-info"></i>ABOUT</a>   
            </li>
            <li class="navbar__item">
                <a href="/components/menu.html" class="navbar__links"><i class="fa fa-fw fa-bars"></i>MENU</a>   
            </li>
            <li class="navbar__btn">
                <a href="/components/social.html" class="button"><i class="fa fa-fw fa-group"></i>SOCIAL</a>   
            </li>
        </ul>
    </div>
   
</nav>  

<div class="header">
    <h1>ABOUT US</h1>
    <p>Get to know <b>how</b> we came to care so much about you!</p>
</div>

<div class="row">
    <div class="side">
      <h2>Meet Our Culinary Artist</h2>
      <br>
      <!-- <h5>Photo of me:</h5> -->
      <!-- <div class="kellieimg" style="height:200px;"><img src="https://i.ibb.co/XWmJhwd/IMG957694.jpg" alt="IMG957694" border="0"></div> -->
      <p>As a young girl, I manifested a desire to cook as I was helping my mother in the kitchen.She was such an 
          inspiration and with her we developed this passion for creative cooking that actually tasted good! The more time we spent
          in the kitchen the more my creative passion for food increased. I started becoming very proficient in planning
          menus for family gatherings and holidays; developing recipes; and later supervising the preparation of food
          with my own children! In that sense, you can say that this has become a family tradition of preparing and 
          cooking food that nourishes not only people's stomachs, but also their spirit of family. I hope to share
          that fulfilling experience with you!
      </p>
      
    </div>

    <div class="main">
        <h2>MISSION STATEMENT:</h2>
        <h5>We Strive Very Hard To Satisfy Each and Every Customer!</h5>
        <div class="pageimgs" style="height:200px; "><img src="https://i.ibb.co/kckDvgz/Customer-Loyalty-Satisfaction.png" alt="Customer-Loyalty-Satisfaction" border="0"></div>
        <p>What we invision:</p>
        <p> Serve Chicagoans some of the best dishes they’ve ever had.</p>
        <br>
        <h2>WE SUPPORT ALL BLACK OWNED BUSINESSES AS WELL</h2>
        <h5>Through Charitable Events:</h5>
        <div class="pageimgs" style="height:200px;"><img src="https://i.ibb.co/BNH0Sw9/helpinghands.jpg" alt="helpinghands" border="0"></div>
        <p>We help our communities..</p>
        <p>Through fundraising events and charitable food donations.Give us a call for help!</p>
      </div>
      
    </div>
    
    <script src="app.js"></script>
</body>
</html>