<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap Site</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/events.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>


   <!--Navbar Section-->
   <nav class="navbar">
    <div class="navbar__container">
        <a href="/" id="navbar__logo"><i class="fa fa-fw fa-cutlery"></i>KC's Catering &nbsp;(773) 490-2666</a>
        <div class="navbar__toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="navbar__menu">
            <li class="navbar__item">
                <a href="/" class="navbar__links"><i class="fa fa-fw fa-home"></i>HOME</a>   
            </li>
            <li class="navbar__item">
                <a href="/components/about.html" class="navbar__links"><i class="fa fa-fw fa-info"></i>ABOUT</a>   
            </li>
            <li class="navbar__item">
                <a href="/components/menu.html" class="navbar__links"><i class="fa fa-fw fa-bars"></i>MENU</a>   
            </li>
            <li class="navbar__btn">
                <a href="/components/social.html" class="button"><i class="fa fa-fw fa-group"></i>SOCIAL</a>   
            </li>
        </ul>
    </div>
   
</nav>  

<div class="container">
    <div class="heading">
        <h1>ABOUT CATERING:</h1>
    </div>
  
    <div class="menu_container">
        <div class="menu">
          <h2 class="menu-group-heading">
            DELIVERY AVAILABLE FOR ORDERS WITHIN A 25 MILE RADIUS OF OUR ADDRESS FOR A $50
            DELIVERY FEE: Inquire about further travel!
          </h2>
          <div class="menu-group">
            <div class="menu-item">
              <img class="menu-item-image" src="https://i.ibb.co/KrFc3Mc/images.jpg" alt="Taco Bar">
              <div class="menu-item-text">
                <h3 class="menu-item-heading">
                  <span class="menu-item-name">Event Set-Up and Break-Down</span>
                  <span class="menu-item-price">$400.00/50-75 guests</span>
                </h3>
                <p class="menu-item-description">
                  <br>*Additional Charge for any number of guests over 75.
                  
                </p>
              </div>
            </div>
            <div class="menu-item">
              <img class="menu-item-image" src="../assets/tacobar.jpg">
              <div class="menu-item-text">
                <h3 class="menu-item-heading">
                  <span class="menu-item-name">PopUp|OnDemand Chicken & Taco Bar</span>
                  <span class="menu-item-price">$500</span>
                </h3>
                <p class="menu-item-description">
                    This is an additional service we offer on top of the catering fee. Our Staff will come and serve the tacos and fry the chicken on demand @ your location
                  <br>* Subject to an additional travel charge over 50 miles!</br>
                </p>
              </div>
            </div>
            
          </div>
        </div>
    </div>
        <div class="heading">
          <h3>Event <span>Photos</span></h3>
        </div>
        <div class="box">
          
          <div class="dream">
            <img src="https://i.ibb.co/QFvhfqg/20210729-011040.jpg" alt="20210729-011040" border="0">
                <img src="https://i.ibb.co/RDGtbym/20210729-011224.jpg" alt="20210729-011224" border="0">
                    <img src="https://i.ibb.co/80JhmYN/IMG-4504.jpg" alt="IMG-4504" border="0"> 
                        <img src="https://i.ibb.co/BsX6sVY/2015032895.jpg" alt="2015032895" border="0"> 
              
          </div>
    
            <div class="dream">
            <img src="https://i.ibb.co/BnLsd8t/20210729-011234.jpg" alt="20210729-011234" border="0">
                <img src="https://i.ibb.co/9cxn2G7/IMG-4505.jpg" alt="IMG-4505" border="0">
                    <img src="https://i.ibb.co/H2LWCpP/IMG-1501.jpg" alt="IMG-1501" border="0"> 
                        <img src="https://i.ibb.co/bbf1skT/20150328.jpg" alt="20150328" border="0">
        
            
               
                
          </div>
    
            <div class="dream">
            <img src="https://i.ibb.co/VY8Ft1k/20210729-011145.jpg" alt="20210729-011145" border="0">
                <img src="https://i.ibb.co/JCcjjJp/20210601-173357.jpg" alt="20210601-173357" border="0">
                    <img src="https://i.ibb.co/k8Sp4dX/IMG-1489-Copy-Copy-Copy.jpg" alt="IMG-1489-Copy-Copy-Copy" border="0">
             
                
           
                
          </div>


          
</div>
<script src="app.js"></script>

</body>
</html>