<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap Site</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/photos.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>

   <!--Navbar Section-->
   <nav class="navbar">
    <div class="navbar__container">
        <a href="/" id="navbar__logo"><i class="fa fa-fw fa-cutlery"></i>KC's Catering &nbsp;(773) 490-2666</a>
        <div class="navbar__toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="navbar__menu">
            <li class="navbar__item">
                <a href="/" class="navbar__links"><i class="fa fa-fw fa-home"></i>HOME</a>   
            </li>
            <li class="navbar__item">
                <a href="/components/about.html" class="navbar__links"><i class="fa fa-fw fa-info"></i>ABOUT</a>   
            </li>
            <li class="navbar__item">
                <a href="/components/menu.html" class="navbar__links"><i class="fa fa-fw fa-bars"></i>MENU</a>   
            </li>
            <li class="navbar__btn">
                <a href="/components/social.html" class="button"><i class="fa fa-fw fa-group"></i>SOCIAL</a>   
            </li>
        </ul>
    </div>
   
</nav>  
<div class="container">

      <div class="heading">
        <h3>Photo <span>Album</span></h3>
      </div>
      <div class="box">
        
        <div class="dream">
          <img src="/assets/img1.jpg">
          <img src="/assets/img2.jpg">
           <img src="https://i.ibb.co/6gRTf5W/IMG-4110.jpg" alt="IMG-4110" border="0">
            <img src="/assets/img4.jpg">
             <img src="/assets/img5.jpg">
            
        </div>
  
          <div class="dream">
            <img src="/assets/img6.jpg">
            <img src="/assets/img7.jpg">
             <img src="/assets/img8.jpg">
              <img src="https://i.ibb.co/kQTXM3Q/IMG-3023002.jpg" alt="IMG-3023002" border="0"> 
               <img src="https://i.ibb.co/kxkNRj9/53-FEEC33.jpg" alt="53-FEEC33" border="0">
      
          
             
              
        </div>
  
          <div class="dream">
            <img src="https://i.ibb.co/Z8HbPcf/IMG-2908.jpg" alt="IMG-2908" border="0">
            <img src="https://i.ibb.co/drqY3Y4/IMG-9430.jpg" alt="IMG-9430" border="0">
              <img src="https://i.ibb.co/vzYQBPy/IMG-9431001.jpg" alt="IMG-9431001" border="0">
                <img src="https://i.ibb.co/y6ntD3d/IMG-9968.jpg" alt="IMG-9968" border="0">
                <img src="https://i.ibb.co/JHwh5dx/IMG-3021002.jpg" alt="IMG-3021002" border="0">
              
              
         
              
        </div>


        
</div>


        





<!-- <div class="container">
    <div class="heading">
      <h3>Photo <span>Gallery</span></h3>
    </div>
    <div class="box">
      
      <div class="dream">
        <img src="../assets/img1.jpg">
         <img src="../assets/img2.jpg">
          <img src="https://i.ibb.co/6gRTf5W/IMG-4110.jpg" alt="IMG-4110" border="0">
           <img src="../assets/img4.jpg">
            <img src="../assets/img5.jpg">
            
      </div>

        <div class="dream">
        <img src="../assets/img6.jpg">
         <img src="../assets/img7.jpg">
          <img src="../assets/img8.jpg">
           <img src="https://i.ibb.co/kQTXM3Q/IMG-3023002.jpg" alt="IMG-3023002" border="0"> 
            <img src="https://i.ibb.co/kxkNRj9/53-FEEC33.jpg" alt="53-FEEC33" border="0">
            
      </div>

        <div class="dream">
        <img src="https://i.ibb.co/Z8HbPcf/IMG-2908.jpg" alt="IMG-2908" border="0">
          <img src="https://i.ibb.co/drqY3Y4/IMG-9430.jpg" alt="IMG-9430" border="0">
            <img src="https://i.ibb.co/vzYQBPy/IMG-9431001.jpg" alt="IMG-9431001" border="0">
              <img src="https://i.ibb.co/y6ntD3d/IMG-9968.jpg" alt="IMG-9968" border="0">
              <img src="https://i.ibb.co/JHwh5dx/IMG-3021002.jpg" alt="IMG-3021002" border="0">
            
      </div>




    </div>





  </div> -->


  <script src="app.js"></script>

</body>
</html>