<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap Site</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<h1>Products</h1>

   <!--Navbar Section-->
   <nav class="navbar">
    <div class="navbar__container">
        <a href="/" id="navbar__logo"><i class="fa fa-fw fa-cutlery"></i>KC's Catering &nbsp;(773) 490-2666</a>
        <div class="navbar__toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="navbar__menu">
            <li class="navbar__item">
                <a href="/" class="navbar__links"><i class="fa fa-fw fa-home"></i>HOME</a>   
            </li>
            <li class="navbar__item">
                <a href="/components/about.html" class="navbar__links"><i class="fa fa-fw fa-info"></i>ABOUT</a>   
            </li>
            <li class="navbar__item">
                <a href="/components/menu.html" class="navbar__links"><i class="fa fa-fw fa-bars"></i>MENU</a>   
            </li>
            <li class="navbar__btn">
                <a href="/components/social.html" class="button"><i class="fa fa-fw fa-group"></i>SOCIAL</a>   
            </li>
        </ul>
    </div>
   
</nav>  
<script src="app.js"></script>
</body>
</html>